* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #0066ff;
    --secondary-color: #92b2fd;
    --tertiary-text-color: #f9fafe;
    --additional-color-1: #f594b7;
    --additional-color-2:#ccd0f6;
    --platzi-color: #98ca3f;
    --subtitles-size: 1.4rem;
    --buttons-font-size: 1.6rem;
    --button-font-weight: 600;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* LOGIN */

.login_wrapper {
    display: flex;
    padding: 2rem;
    margin-top: 20rem;
    height: 40rem;
    width: 30rem;
    border: solid 0.1rem var(--secondary-color);
    border-radius: 0.5rem;
}

.login_wrapper form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;    
    color: var(--main-color);
}

.login_wrapper .checkbox_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}   
.login_wrapper .checkbox_section div {
    display: flex;
    gap: 1rem;
    font-size: var(--subtitles-size);
}

.login_wrapper .username_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: var(--subtitles-size);
}

.login_wrapper button {
    border: none;
    border-radius: 0.8rem;
    background-color: var(--main-color);
    color: var(--tertiary-text-color);
    height: 4rem;
    width: 8rem;
}

.login_wrapper figure {
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
}
