* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #0047b3;
    --secondary-color: #6a00ce;
    --tertiary-text-color: #eeeeee;
    --additional-color-1: #f594b7;
    --additional-color-2:#dddddd;
    --strong-green: #98ca3f;
    --subtitles-size: 1.8rem;
    --buttons-font-size: 2rem;
    --button-font-weight: 600;
    --text-weight: 100;
    --subtitles-weight: 300;
    --titles-weight: 400;
    --bold-weight: 500;
    --strong-weight: 700;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/cube_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */

.title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    padding: 2rem;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 28px 72px -18px rgba(189,189,189,1);
    -moz-box-shadow: 0px 28px 72px -18px rgba(189,189,189,1);
    box-shadow: 0px 28px 72px -18px rgba(189,189,189,1);
    backdrop-filter: blur(1.6rem);
    z-index: 3;
}

.title h1 {
    color: var(--main-color);
    font-weight: 100;
    font-size: 4rem;
    top: 0;
}

/* FINISH HEADER */

.site {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* START LOGIN */

.start {
    height: 90vh;
    width: 90%;
    display: flex;
    justify-content: space-around;
    /* transition: all .5s ease-out; */
}

.login_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 20rem;
    height: 50rem;
    width: 80%;
    border: solid 0.1rem var(--secondary-color);
    border-radius: 0.5rem;
    /* transition: all .5s ease-in-out; */
    font-weight: 300;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}


/* welcome back section */

.welcome-back {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    color: var(--main-color);
}

.message h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: var(--subtitles-weight);
    padding: 1rem 0rem;
}

.message p {
    font-size: 1.2rem;
    text-align: center;
}

/* welcome back section */

.login_wrapper .formulario {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    color: var(--main-color);
    backdrop-filter: blur(1.5rem);
    border-radius: 0.5rem;
    text-align: center;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.formulario h2 {
    font-weight: var(--subtitles-weight);
    font-size: 2.4rem;
}

.login_wrapper .checkbox_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;
}

h3 {
    font-weight: var(--subtitles-weight);
    font-size: var(--subtitles-size);
}

.login_wrapper .checkbox_section div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--subtitles-size);
}

.checkbox_section div input {
    border-radius: 50%;
}

.login_wrapper .userdata_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: var(--subtitles-size);
}


.login_wrapper .input_text {
    border:  none;
    outline: none;
    border-bottom: solid 0.1rem var(--main-color);
    background-color: transparent;
    text-align: center;
    color: var(--main-color);
    padding-bottom: 0.4rem;
    height: 2rem;
}

.login_wrapper button {
    border: none;
    border-radius: 1.8rem;
    background-color: var(--main-color);
    color: var(--tertiary-text-color);
    height: 4rem;
    width: 12rem;
}

.sign-in-btn:hover{
    background-color: var(--secondary-color);
}

.formulario input[type="submit"]{
    width: 50%;
    border: none;
    background-color: var(--secondary-color);
    padding: 0.8rem;
    border-radius: 1.8rem;
    color: var(--tertiary-text-color);
    font-weight: var(--titles-weight);
}

/* .sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
} /*useful to disappear element from sight */

/* .sign-in.active {
    opacity: 1;
    visibility: visible;
} /*applies the same for when we set this class in JS*/
/* 
.sign-up.active {
    opacity: 0;
    visibility: hidden;
} */ 

/* FINISH LOGIN */

/* TABS VIEW */

.aside {
    background-color: #0047b3;
    height: 5rem;
    width: 5rem;
}

.tabs {
    height: 80rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: solid 0.1rem var(--secondary-color);
    border-radius: 2rem;
    margin-inline: 4rem;
    backdrop-filter: blur(1.6rem);
}

.tabs__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    border: 0.1rem solid var(--main-color);
}

.tabs__sidebar {
    display: flex;
    flex-direction: column;
    width: 28rem;
}

.tab__button {
    background-color: var(--tertiary-text-color);
    border: none;
    padding: 1rem;
    outline: none;
    cursor: pointer;
}

.tab__button:active {
    background-color: var(--additional-color-2);
}

/* .tab__button:not(:last-of-type){
    background: var(--tertiary-text-color);
} */

.tab_button--active {
    font-weight: bold;
    border-right: solid 0.3rem var(--main-color);
    background-color: var(--additional-color-2);
}

.tabs__content {
    font-size: 1.2rem;
    padding: 1.6rem;
    display: none
}

/* FINISH TABS VIEW */

/* Disappearing class */

.inactive {
    display: none;
}

/* .active {
    display: block
} */
